<li class="list_item" data-id="{{id}}">
    <div>
        <div class="review_area{{#unless fileId}} no_img{{/unless}}">
            {{#if fileId}}
                <div class="thumb_area">
                    <a href="#" class="thumb" title="이미지 크게 보기">
                        <img width="90" height="90" class="img_vertical_top"
                             src="/api/images/{{fileId}}"
                             alt="리뷰이미지">
                    </a> <span class="img_count">{{filesNum}}</span>
                </div>
            {{/if}}
            <h4 class="resoc_name">{{productName}}</h4>
            <p class="review">{{comment}}</p>
        </div>
        <div class="info_area">
            <div class="review_info">
                <span class="grade">{{score}}</span>
                <span class="name">{{snsId}}</span>
                <span class="date">{{date}} 방문</span>
            </div>
        </div>
    </div>
</li>
